# Mac system files
.DS_store

# built binaries
benchmark/third_party/pagecache-mangagement/trunk/fadv
benchmark/third_party/pagecache-mangagement/trunk/*.so
benchmark/third_party/pagecache-mangagement/trunk/sfr
benchmark/third_party/pagecache-mangagement/trunk/Makefile
dist

# vscode & VIM & JetBrain
.vscode/
.idea
*.swp

# cache
*__pycache__
*.egg-info
flexllmgen/apps/data
flexllmgen/apps/runs
flexllmgen/apps/benchmark_output
flexllmgen/apps/data_wrangle/data
flexllmgen/apps/data_wrangle/outputs
flexllmgen/apps/data_wrangle/core

# pickle
*.pkl

# log files
*.tsv
*.log
*.raw

# tmp scripts
today_job.sh

# test files and traces
traces/
*.csv
*.png
*.json

gt_vs_est_runs/
gt_vs_est_runs_l40/
gt_vs_est_runs_h100/
gt_vs_est_runs_rtx6000/